* {
	box-sizing: border-box;
}

body {
	background-color: #141d26;
	width: fit-content;
	margin: 0;
}

.cord {
	fill: none;
	stroke: #606060;
	stroke-width: 8px;
}

.bulb-container {
	position: relative;
}

ul {
	display: block;
	list-style: none;
	position: relative;
}

li:before {
	content: "\A";
	border-style: solid;
	border-width: 8px 20px 15px 0;
	border-color: #606060;
	position: absolute;
	left: 10px;
	bottom: 96%;
}

li {
	display: block;
	list-style: none;
	width: 40px;
	height: 80px;
	background-color: white;
	border-radius: 40% 40% 50% 50%;
	position: absolute;
}

#one {
	right: 47rem;
	bottom: 53px;
	transform: rotate(20deg);
}

#two {
	bottom: 30px;
	left: 131px;
}

#three {
	bottom: 92px;
	left: 269px;
	transform: rotate(-58deg);
}

#four {
	bottom: 220px;
	left: 290px;
	transform: rotate(-85deg);
}

#five {
	left: 21rem;
	bottom: 18rem;
	transform: rotate(-38deg);
}

#six {
	bottom: 20rem;
	left: 26rem;
	transform: rotate(-4deg);
}

#seven {
	bottom: 20rem;
	left: 33rem;
	transform: rotate(-19deg) translateY(-5px);
}

#eight {
	bottom: 22rem;
	left: 39rem;
	transform: rotate(3deg) translate(-7px, 9px);
}

#nine {
	bottom: 26rem;
	left: 46rem;
	transform: rotate(-60deg);
}

#ten {
	bottom: 33rem;
	left: 49rem;
	transform: rotate(-95deg);
}

/* light up : #da8695 (red), #97e4e6 (blue), #f5d495 (orange), #a6f3a1 (green) */
/* box-shadow: 8px 15px 50px #eb072f, 0px 20px 40px #eb072f,
		-8px 15px 50px #eb072f; */

li:nth-child(4n + 1) {
	color: #eb072f;
	background-color: #eb072f;
}

li:nth-child(4n + 2) {
	background-color: #34ecf2;
	color: #34ecf2;
}

li:nth-child(4n + 3) {
	background-color: #ef9e00;
	color: #ef9e00;
}

li:nth-child(4n + 4) {
	background-color: #23bf16;
	color: #23bf16;
}

.fadeActionStart {
	animation: fadeInDelay 8s ease-in-out infinite;
}

.fadeActionDelay {
	animation: fadeInDelay;
	animation-duration: 8s;
	animation-delay: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes fadeInGreen {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 8px 15px 50px, 0px 20px 40px, -8px 15px 50px;
	}

	100% {
		box-shadow: none;
	}
}

@keyframes fadeInDelay {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 8px 15px 50px, 0px 20px 40px, -8px 15px 50px;
	}

	100% {
		box-shadow: none;
	}
}

@keyframes fadeInBlue {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 10px 10px 10px #97e4e6;
	}

	100% {
		box-shadow: none;
	}
}

@keyframes fadeInOrange {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: 10px 10px 10px #f5d495;
	}

	100% {
		box-shadow: none;
	}
}
